<h2>Characters</h2>

<div class="row">
  <!-- Column A -->
  <ul class="characters">
    <h2>Team A</h2>
    <li *ngFor="let character of thisCharactersVariable">
      {{character.name}}
    </li>
  </ul>
  
  <!-- Column B -->
  <ul class="characters">
    <h2>Team B</h2>
    <li *ngFor="let character of thisCharactersVariable">
      {{character.name}}
      <!-- <span> - {{character.player}}</span> -->
    </li>
  </ul>
  
  <!-- Column C -->
  <ul class="characters">
    <h2>Team C</h2>
    <li *ngFor="let character of thisCharactersVariable">
      {{character.name}}
    </li>
  </ul>
</div>

<button mat-raised-button color="primary"
        class="generate" 
        title="generate class" 
        style="margin:  0 auto;
               display: block;"
        (click)="getShuffled()">Generate Teams</button>
