<div class="row">
  <!-- Column A -->
  <ul class="characters">
    <h2>Team A</h2>
    <li *ngFor="let character of teamA">
      <div class="characterNames">{{character.name}}</div>
      <div class="players">{{character.player}}</div>
    </li>
  </ul>
  
  <!-- Column B -->
  <ul class="characters">
    <h2>Team B</h2>
    <li *ngFor="let character of teamB">
      <div class="characterNames">{{character.name}}</div>
      <div class="players">{{character.player}}</div>
    </li>
  </ul>
  
  <!-- Column C -->
  <ul class="characters">
    <h2>Team C</h2>
    <li *ngFor="let character of teamC">
      <div class="characterNames">{{character.name}}</div>
      <div class="players">{{character.player}}</div>
    </li>
  </ul>
</div>

<!-- <button mat-raised-button color="primary"
        class="generate" 
        title="generate class" 
        style="margin:  0 auto;
               display: block;"
        (click)="getCharacters()">Generate Teams</button> -->
