<div class="row">
  <!-- Column A -->
  <ul class="characters">
    <h2>Team A</h2>
    <li *ngFor="let character of teamA">
      <img class="avatar" src= "assets/images/avatars/{{character.id}}.png" alt="Avatar">
      <span class="card">
        <span class="characterNames">{{character.name}}
          <div class="players">{{character.player}}</div>
        </span>
      </span>
    </li>
  </ul>
  
  <!-- Column B -->
  <ul class="characters">
    <h2>Team B</h2>
    <li *ngFor="let character of teamB">
      <img class="avatar" src= "assets/images/avatars/{{character.id}}.png" alt="Avatar">
      <span class="card">
        <span class="characterNames">{{character.name}}
          <div class="players">{{character.player}}</div>
        </span>
      </span>
    </li>
  </ul>
  
  <!-- Column C -->
  <ul class="characters">
    <h2>Team C</h2>
    <li *ngFor="let character of teamC">
      <img class="avatar" src= "assets/images/avatars/{{character.id}}.png" alt="Avatar">
      <span class="card">
        <span class="characterNames">{{character.name}}
          <div class="players">{{character.player}}</div>
        </span>
      </span>
    </li>
  </ul>
</div>

<!-- <button mat-raised-button color="primary"
        class="generate" 
        title="generate class" 
        style="margin:  0 auto;
               display: block;"
        (click)="getCharacters()">Generate Teams</button> -->
