/* Application-wide Styles */
h1 {
    color: rgb(255, 255, 255);
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
    padding: 0.2em 0 0.2em 0;
  }
  h2, h3 {
    color: rgb(255, 255, 255);
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    font-family: Georgia, Cambria;
  }
  /* everywhere else */
  * {
    font-family: Georgia, Arial, Helvetica, sans-serif;
  }

  html, body { 
    height: 100%; 
  }

body { 
  margin: 0; 
  font-family: Georgia, Roboto, "Helvetica Neue", sans-serif;
  background-image: url(\assets\images\background.png);
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(0, 0, 0); 
  background-position: center;
}

img.background {
  filter: brightness(200%);
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}
